<!DOCTYPE html>
<html>
<head>
<title>User</title>
</head>
<body>
    <h3>New User</h3>
    <a href="/users/title"><p>Back to Products<p></a>
    <form action="/users/title" method="POST">
        <input type="text" name="name" placeholder="Name">
        <br>
        <input type="text" name="favoriteGenre" placeholder="Favorite Genre">
        <br>
        <input type="text" name="likedMovies" placeholder="Liked Movies">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>